@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: #333;
}

a {
  text-decoration: none;
}

/* ===================================================================== */
/* BOTONES*/
/* ===================================================================== */
.boton {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #ef7a0f;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-weight: normal;
  position: relative;
  overflow: hidden;
}

.boton2 {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: transparent;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #ef7a0f;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.boton3 {
  display: inline-block;
  padding: 10px 20px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  border-radius: none;
  border: 2px solid #ef7a0f;
  font-weight: normal;
  position: relative;
  overflow: hidden;
}

/* ===================================================================== */
/* ANIMACIONES*/
/* ===================================================================== */
/* Animaciones - html Index */
header .redes-sociales a {
  transition: color 0.3s ease;
}
header .redes-sociales a:hover {
  color: #ef7a0f;
}
header .redes-sociales a:last-child {
  margin-right: 0;
}

.texto-portada .boton2 {
  transition: color 0.3s ease;
}
.texto-portada .boton2:hover {
  background-color: #ef7a0f;
  color: white;
}

.seccion-tres-rectangulos .rectangulo {
  transition: transform 0.3s ease;
}
.seccion-tres-rectangulos .rectangulo:hover {
  transform: scale(1.05);
}

.galeria-index img {
  transition: transform 0.3s ease;
}

.galeria-index img:hover {
  transform: scale(1.05);
}

/* Animaciones - Botones */
.boton {
  transition: background-color 0.3s ease;
}
.boton:hover {
  background-color: #d4640d;
}

.boton3:hover {
  background-color: #ef7a0f;
}

/* Animaciones - html Servicios */
.servicio {
  transition: all 0.3s ease;
}

.servicio:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

/* Animaciones - html Clientes */
.fila-clientes img:hover {
  transform: scale(1.1);
}

/* ===================================================================================== */
/* HEADER */
/* ===================================================================================== */
header {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 0px 20px;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  position: fixed;
  justify-content: space-between;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .navbar .navbar-brand {
  margin-right: auto;
}
header .navbar .navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
header .redes-sociales {
  display: flex;
  margin-left: auto;
}
header .redes-sociales a {
  color: #ad3da6;
  font-size: 24px;
  margin-right: 15px;
}

/* ===================================================================== */
/* FOOTER*/
/* ===================================================================== */
.container-footer {
  background-color: #ad3da6;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 350px;
  margin-top: 30px;
}
.container-footer .footer-parte1 {
  width: 50%;
  margin: 10px;
  padding: 80px 30px;
}
.container-footer .footer-parte1 h2 {
  margin: 0 0 20px 0;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
}
.container-footer .footer-parte2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
}
.container-footer .footer-parte2 p {
  font-size: 2rem;
  font-weight: bold;
}
.container-footer .footer-parte2 .contacto-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1;
}
.container-footer .footer-parte2 .contacto-footer p {
  font-size: 1.6rem;
}
.container-footer .footer-parte2 .contacto-footer p i {
  margin-right: 15px;
}

/* ===================================================================== */
/* html INDEX*/
/* ===================================================================== */
/* 1. Portada */
.portada {
  position: relative;
  text-align: left;
  height: 100vh;
}
.portada img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portada::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.portada .texto-portada {
  position: absolute;
  top: 60%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  max-width: 90%;
  z-index: 1;
}
.portada .texto-portada .titulo-portada {
  position: relative;
  font-size: 4.8rem;
  font-weight: bold;
  text-align: left;
  line-height: 0.9;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
.portada .texto-portada .titulo-portada::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 8rem;
  height: 3px;
  background-color: #ef7a0f;
}
.portada .texto-portada p {
  font-size: 2rem;
  font-weight: bold;
  color: #f9f9f9;
  max-width: 90%;
  margin-bottom: 20px;
  line-height: 1.1;
  letter-spacing: -1.3px;
}

/* 2. Sección de tres rectángulos */
.seccion-tres-rectangulos {
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  text-align: left;
  background-color: #f9f9f9;
}
.seccion-tres-rectangulos .rectangulo {
  width: 32%;
  background-color: #ad3da6;
  color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.seccion-tres-rectangulos .rectangulo h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}
.seccion-tres-rectangulos .rectangulo p {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

/* 3. Párrafos index */
.parrafo-index {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: #f9f9f9;
}
.parrafo-index .parrafo-index p {
  margin: 0;
}
.parrafo-index .texto-izquierdo {
  width: 50%;
  font-size: 2.7rem;
  font-weight: bold;
  background: linear-gradient(to right, #ad3da6, #ef7a0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
}
.parrafo-index .texto-derecho {
  width: 45%;
  font-weight: bold;
  font-size: 1.3rem;
  color: #333;
  line-height: 1.3;
}

/* 4. Galería de imágenes */
.galeria-index {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.galeria-index img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

/* ===================================================================== */
/* html SERVICIOS*/
/* ===================================================================== */
.section-servicios {
  padding: 60px 0;
}
.section-servicios h1 {
  font-size: 2.7rem;
  text-align: center;
  color: #333;
  font-weight: bold;
}

.servicio {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  height: 100%;
}
.servicio img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.servicio h2 {
  font-size: 1.6rem;
  color: #ef7a0f;
  margin-top: 15px;
  font-weight: bold;
}
.servicio p {
  margin: 15px 0;
  color: #333;
}

/* ===================================================================== */
/* html NOSOTROS*/
/* ===================================================================== */
.portada {
  margin-top: 10px;
}

.grupo-trabajo {
  display: flex;
  align-items: center;
  padding: 20px;
}
.grupo-trabajo .imagen-grupo {
  flex: 2;
  margin-right: 20px;
}
.grupo-trabajo .imagen-grupo img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 20px 0;
}
.grupo-trabajo .texto-grupo {
  flex: 2;
}
.grupo-trabajo .texto-grupo h2 {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(to right, #ad3da6, #ef7a0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  margin-bottom: 20px;
}
.grupo-trabajo .texto-grupo p {
  font-size: 1.3rem;
  color: #333;
  line-height: 1.1;
}

.contenido-nosotros {
  padding: 15px;
}
.contenido-nosotros .titulo-nosotros {
  font-size: 3rem;
  color: #ad3da6;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.contenido-nosotros .bloque {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contenido-nosotros .bloque .texto-izquierda {
  padding: 20px;
  text-align: left;
}
.contenido-nosotros .bloque .texto-izquierda h2 {
  font-size: 1.6rem;
  color: #ad3da6;
  margin-bottom: 10px;
}
.contenido-nosotros .bloque .texto-izquierda p {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.contenido-nosotros .bloque img {
  width: 60%;
  height: auto;
  border-radius: 5px;
}

/* ===================================================================== */
/* html CLIENTES*/
/* ===================================================================== */
.clientes h1 {
  font-size: 2.7rem;
  text-align: center;
  margin-top: 120px;
  color: #333;
  font-weight: bold;
}
.clientes p {
  font-size: 1.3rem;
  color: #333;
  line-height: 1.5;
  text-align: center;
}
.clientes .galeria-clientes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding-bottom: 40px;
  max-width: 90%;
}
.clientes .fila-clientes img {
  width: 90%;
  object-fit: contain;
  transition: transform 0.3s ease;
  margin: 0 20px;
  justify-content: space-around;
}

/* ===================================================================== */
/* html CONTACTO*/
/* ===================================================================== */
.container .contacto h1 {
  font-size: 2.7rem;
  text-align: center;
  margin-top: 120px;
  color: #333;
  font-weight: bold;
}
.container .contacto p {
  font-size: 1.3rem;
  padding-bottom: 20px;
}
.container .contacto .row .col-md-8 .formulario-contacto {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container .contacto .row .col-md-8 .formulario-contacto .mb-3 .form-label i {
  color: #ef7a0f;
  margin-right: 8px;
}
.container .contacto .row .col-md-8 .formulario-contacto .mb-3 input, .container .contacto .row .col-md-8 .formulario-contacto .mb-3 textarea {
  border: 2px solid #ef7a0f;
  border-radius: 5px;
  padding: 10px;
}

/* ===================================================================== */
/* MEDIAQUERIES*/
/* ===================================================================== */
/* 1. Smartphone Pequeño */
@media (max-width: 480px) {
  /* Header */
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav .nav-item {
    font-size: 1rem;
  }
  .redes-sociales {
    display: flex;
    justify-content: center;
  }
  .redes-sociales a .fab {
    width: 10px;
    height: 10px;
  }
  .redes-sociales a .fa-instagram {
    padding-right: 15px;
  }
  /* Index - Portada*/
  .portada .texto-portada {
    left: 5%;
    max-width: 90%;
  }
  .portada .texto-portada .titulo-portada {
    font-size: 1.6rem;
    margin-bottom: 10px;
    letter-spacing: -0.7px;
  }
  .portada .texto-portada p {
    font-size: 1rem;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .portada .boton2 {
    padding: 7px 7px;
    color: white;
    font-size: 1rem;
  }
  /* Index - Rectangulos */
  .seccion-tres-rectangulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
  }
  .seccion-tres-rectangulos .rectangulo {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
  }
  .seccion-tres-rectangulos .rectangulo.rectangulo h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 10px;
  }
  .seccion-tres-rectangulos .rectangulo.rectangulo p {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  /* Index - Párrafos */
  .parrafo-index {
    flex-direction: column;
  }
  .parrafo-index .texto-izquierdo {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
  }
  .parrafo-index .texto-derecho {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  /* Index - Galeria */
  .galeria-index {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 40px;
    background-color: #f9f9f9;
    max-width: 100%;
    margin: 0 auto;
  }
  /* Footer */
  .container-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
  }
  .container-footer .footer-parte1, .footer-parte2 {
    width: 100%;
  }
  .container-footer .footer-parte1 {
    margin: 10px;
    padding: 0 30px;
  }
  .container-footer .footer-parte1 h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  .container-footer .footer-parte1 .boton {
    font-size: 1rem;
    padding: 10px 25px;
    border-radius: 8px;
  }
  .container-footer .footer-parte2 {
    width: 100%;
    margin: 15px;
    padding: 0 30px;
  }
  .container-footer .footer-parte2 p {
    font-size: 1.6rem;
    margin-bottom: 15px;
  }
  .container-footer .footer-parte2 .contacto-footer p {
    font-size: 1rem;
  }
  /* Servicios */
  .section-servicios h1 {
    font-size: 1.6rem;
  }
  .servicio img {
    height: 200px;
  }
  .servicio h2 {
    font-size: 1.3rem;
    margin-top: 10px;
  }
  .servicio p {
    font-size: 1rem;
    margin: 5px 0;
  }
  .servicio .boton {
    font-size: 1rem;
    font-weight: normal;
  }
  /* Nosotros */
  .grupo-trabajo {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .grupo-trabajo .imagen-grupo {
    margin-right: 0px;
  }
  .grupo-trabajo .imagen-grupo img {
    margin: 10px 0;
  }
  .grupo-trabajo .texto-grupo {
    text-align: center;
  }
  .grupo-trabajo .texto-grupo h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .grupo-trabajo .texto-grupo p {
    font-size: 1rem;
  }
  .contenido-nosotros {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .contenido-nosotros .titulo-nosotros {
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .contenido-nosotros .bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .contenido-nosotros .bloque .texto-izquierda {
    text-align: center;
    padding: 5px;
  }
  .contenido-nosotros .bloque .texto-izquierda h3 {
    font-size: 1.3rem;
    color: #ad3da6;
    margin-bottom: 5px;
  }
  .contenido-nosotros .bloque .texto-izquierda p {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .contenido-nosotros .bloque img {
    width: 90%;
  }
  /* Clientes */
  .clientes h1 {
    font-size: 1.6rem;
  }
  .clientes p {
    font-size: 1rem;
    padding: 0 15px;
  }
  .clientes .galeria-clientes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding-left: 15px;
  }
  .clientes .galeria-clientes .fila-clientes {
    display: contents;
  }
  .clientes .galeria-clientes .fila-clientes img {
    width: 100%;
    margin: 0;
    object-fit: cover;
    height: 100px;
  }
  /* Contacto */
  .container .contacto h1 {
    font-size: 1.6rem;
  }
  .container .contacto p {
    padding: 0 5px 10px 5px;
  }
  .container .contacto .row .col-md-8 .formulario-contacto .mb-3 .form-label {
    font-size: 1rem;
  }
  .container .contacto .row .col-md-8 .formulario-contacto .mb-3 .form-label i {
    font-size: 1rem;
  }
  .container .contacto .row .col-md-8 .formulario-contacto .mb-3 input, .container .contacto .row .col-md-8 .formulario-contacto .mb-3 textarea {
    font-size: 1rem;
  }
}
/* 2. Smartphone Grande */
@media (min-width: 480px) and (max-width: 767px) {
  /* Header */
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler-icon {
    width: 25px;
    height: 25px;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav .nav-item {
    font-size: 1.3rem;
  }
  .redes-sociales {
    display: flex;
    justify-content: center;
  }
  .redes-sociales a .fab {
    width: 13px;
    height: 13px;
  }
  .redes-sociales a .fa-instagram {
    padding-right: 17px;
  }
  /* Index - Portada*/
  .portada {
    margin-top: 50px;
  }
  .portada .texto-portada {
    left: 5%;
    max-width: 90%;
  }
  .portada .texto-portada .titulo-portada {
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: -0.7px;
  }
  .portada .texto-portada p {
    font-size: 1.6rem;
    max-width: 90%;
    margin-bottom: 10px;
  }
  .portada .boton2 {
    padding: 9px 9px;
    color: white;
    font-size: 1.3rem;
  }
  /* Index - Section Rectángulos */
  .seccion-tres-rectangulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
  }
  .seccion-tres-rectangulos .rectangulo {
    width: 90%;
    margin-bottom: 15px;
    padding: 30px;
  }
  .seccion-tres-rectangulos .rectangulo.rectangulo h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 15px;
  }
  .seccion-tres-rectangulos .rectangulo.rectangulo p {
    margin-bottom: 15px;
    font-size: 1.3rem;
  }
  /* Index - Section párrafos */
  .parrafo-index {
    flex-direction: column;
  }
  .parrafo-index .texto-izquierdo {
    width: 100%;
    text-align: center;
    font-size: 2.7rem;
  }
  .parrafo-index .texto-derecho {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }
  /* Footer */
  .container-footer {
    flex-direction: column;
    text-align: center;
    padding: 10px 10px;
  }
  .container-footer .footer-parte1, .footer-parte2 {
    width: 100%;
  }
  .container-footer .footer-parte1 {
    margin: 10px;
    padding: 0 30px;
  }
  .container-footer .footer-parte1 h2 {
    font-size: 3rem;
  }
  .container-footer .footer-parte2 {
    width: 100%;
    margin: 15px;
    padding: 0 30px;
  }
  .container-footer .footer-parte2 p {
    font-size: 1.6rem;
    margin-bottom: 7px;
  }
  .container-footer .footer-parte2 .contacto-footer p {
    font-size: 1.3rem;
  }
  /* Servicios */
  .section-servicios {
    margin-top: 2rem;
  }
  .section-servicios h1 {
    font-size: 2rem;
  }
  .servicio img {
    height: 250px;
  }
  .servicio h2 {
    font-size: 1.6rem;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .servicio p {
    font-size: 1.3rem;
  }
  .servicio .boton {
    font-size: 1rem;
    font-weight: normal;
  }
  /* Nosotros */
  .grupo-trabajo {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .grupo-trabajo .imagen-grupo {
    margin-right: 0px;
  }
  .grupo-trabajo .imagen-grupo img {
    margin: 15px 0;
  }
  .grupo-trabajo .texto-grupo {
    text-align: center;
  }
  .grupo-trabajo .texto-grupo h2 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .grupo-trabajo .texto-grupo p {
    font-size: 1.6rem;
  }
  .contenido-nosotros {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .contenido-nosotros .titulo-nosotros {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .contenido-nosotros .bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .contenido-nosotros .bloque .texto-izquierda {
    text-align: center;
    padding: 5px;
  }
  .contenido-nosotros .bloque .texto-izquierda h3 {
    font-size: 1.6rem;
    color: #ad3da6;
    margin-bottom: 5px;
  }
  .contenido-nosotros .bloque .texto-izquierda p {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
  .contenido-nosotros .bloque img {
    width: 90%;
  }
  /* Clientes */
  .clientes h1 {
    font-size: 2rem;
  }
  .clientes p {
    font-size: 1rem;
    padding: 0 15px;
  }
  .clientes .galeria-clientes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding-left: 40px;
  }
  .clientes .galeria-clientes .fila-clientes {
    display: contents;
  }
  .clientes .galeria-clientes .fila-clientes img {
    width: 100%;
    margin: 0;
    object-fit: cover;
    height: 150px;
  }
  .container .contacto h1 {
    font-size: 2rem;
  }
  .container .contacto p {
    font-size: 1.3rem;
    padding: 0 5px 10px 5px;
  }
  .container .contacto .row .col-md-8 .formulario-contacto .mb-3 .form-label {
    font-size: 1.3rem;
  }
  .container .contacto .row .col-md-8 .formulario-contacto .mb-3 .form-label i {
    font-size: 1.3rem;
  }
  .container .contacto .row .col-md-8 .formulario-contacto .mb-3 input, .container .contacto .row .col-md-8 .formulario-contacto .mb-3 textarea {
    font-size: 1.3rem;
  }
}
/* 3. Tablet */
@media (min-width: 767px) and (max-width: 1023px) {
  /* Header */
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav .nav-item {
    font-size: 1.6rem;
  }
  .redes-sociales {
    display: flex;
    justify-content: center;
  }
  .redes-sociales a .fab {
    width: 30px;
    height: 30px;
  }
  .redes-sociales a .fa-instagram {
    padding-right: 17px;
  }
  /* Index - Portada*/
  .portada {
    margin-top: 20px;
  }
  .portada .texto-portada {
    left: 5%;
    max-width: 90%;
  }
  .portada .texto-portada .titulo-portada {
    font-size: 4rem;
    margin-bottom: 15px;
    letter-spacing: -0.7px;
  }
  .portada .texto-portada p {
    font-size: 2rem;
    max-width: 90%;
    margin-bottom: 15px;
  }
  .portada .boton2 {
    padding: 10px;
    font-size: 1.3rem;
  }
  /* Index - Section Rectángulos */
  .seccion-tres-rectangulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin-top: 10px;
    text-align: center;
  }
  .seccion-tres-rectangulos .rectangulo {
    width: 90%;
    margin-bottom: 25px;
    padding: 30px;
  }
  .seccion-tres-rectangulos .rectangulo.rectangulo h3 {
    font-size: 2.7rem;
    font-weight: bold;
    margin-top: 15px;
  }
  .seccion-tres-rectangulos .rectangulo.rectangulo p {
    margin-bottom: 15px;
    font-size: 2rem;
  }
  .seccion-tres-rectangulos .rectangulo.rectangulo .boton {
    font-size: 1.3rem;
    padding: 20px 40px;
    border-radius: 8px;
  }
  /* Index - Section párrafos */
  .parrafo-index {
    flex-direction: column;
  }
  .parrafo-index .texto-izquierdo {
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
  .parrafo-index .texto-derecho {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
  }
  /* Index - Galeria */
  .galeria-index {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5px;
    padding: 10px;
  }
  .galeria-index img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
  /* Footer */
  .container-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 30px;
  }
  .container-footer .footer-parte1, .footer-parte2 {
    width: 100%;
  }
  .container-footer .footer-parte1 {
    margin: 10px;
    padding: 0 30px;
  }
  .container-footer .footer-parte1 h2 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  .container-footer .footer-parte1 .boton {
    font-size: 1.6rem;
    padding: 15px 30px;
    border-radius: 8px;
  }
  .container-footer .footer-parte2 {
    width: 100%;
    margin: 15px;
    padding: 0 30px;
  }
  .container-footer .footer-parte2 p {
    font-size: 2.7rem;
    margin-bottom: 15px;
  }
  .container-footer .footer-parte2 .contacto-footer p {
    font-size: 1.6rem;
  }
  /* Servicios */
  .section-servicios {
    margin-top: 2rem;
  }
  .section-servicios h1 {
    font-size: 3rem;
  }
  .servicio {
    padding: 0;
  }
  .servicio img {
    height: 250px;
  }
  .servicio h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .servicio p {
    font-size: 1.6rem;
  }
  .servicio .boton {
    font-size: 1rem;
    font-weight: normal;
  }
  /* Clientes */
  .clientes h1 {
    font-size: 2.1rem;
  }
  .clientes p {
    font-size: 1.3rem;
    padding: 0 15px;
  }
  .clientes .galeria-clientes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding-left: 60px;
  }
  .clientes .galeria-clientes .fila-clientes {
    display: contents;
  }
  .clientes .galeria-clientes .fila-clientes img {
    width: 100%;
    margin: 0;
    object-fit: cover;
    height: 150px;
  }
  /* Contacto */
  .container .contacto h1 {
    font-size: 2.5rem;
  }
  .container .contacto p {
    font-size: 1.5rem;
    padding: 0 5px 10px 5px;
  }
  .container .contacto .row .col-md-8 .formulario-contacto .mb-3 .form-label {
    font-size: 1.4rem;
  }
  .container .contacto .row .col-md-8 .formulario-contacto .mb-3 .form-label i {
    font-size: 1.3rem;
  }
  .container .contacto .row .col-md-8 .formulario-contacto .mb-3 input, .container .contacto .row .col-md-8 .formulario-contacto .mb-3 textarea {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=main.css.map */
