// VARIABLES

// COLORES

$primer-color: #ad3da6;   
$segundo-color: #ef7a0f;
$tercer-color: white;
$cuarto-color: #f9f9f9;
$quinto-color: #333;
$sexto-color: #d4640d;
$septimo-color: #ffffff;
$octavo-color: transparent; 

// TIPOGRAFIAS

$fuente-principal: 'Poppins', sans-serif;
$fuente-secundaria: 'Mulish', sans-serif;
$fuente-terciaria: "Montserrat", sans-serif;

// TAMAÑOS 
$primer-tamanio: 4.8rem;
$segundo-tamanio: 4rem;
$tercer-tamanio: 3rem;
$cuarto-tamanio: 2.7rem;
$quinto-tamanio: 2rem;
$sexto-tamanio: 1.6rem;
$septimo-tamanio: 1.3rem;
$octavo-tamanio: 1rem;
