/* ===================================================================== */
/* MEDIAQUERIES*/
/* ===================================================================== */

/* 1. Smartphone Pequeño */
@include media("smartphone-pequeño") {
  /* Header */
  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-item {
      font-size: $octavo-tamanio;
    }
  }

  .redes-sociales {
    display: flex;
    justify-content: center;
    a {
      .fab {
        width: 10px;
        height: 10px;
      }
      .fa-instagram {
        padding-right: 15px;
      }
    }
  }

  /* Index - Portada*/
  .portada .texto-portada {
    left: 5%;
    max-width: 90%;
  }
  .portada .texto-portada .titulo-portada {
    font-size: $sexto-tamanio;
    margin-bottom: 10px;
    letter-spacing: -.7px;
  }
  .portada .texto-portada p {
    font-size: $octavo-tamanio;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .portada .boton2 {
    padding: 7px 7px;
    color: $tercer-color;
    font-size: $octavo-tamanio;
  }

  /* Index - Rectangulos */
  
  .seccion-tres-rectangulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
  }
  .seccion-tres-rectangulos .rectangulo {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
  }
  .seccion-tres-rectangulos .rectangulo.rectangulo h3 {
    font-size: $septimo-tamanio;
    font-weight: bold;
    margin-top: 10px;
  }
  .seccion-tres-rectangulos .rectangulo.rectangulo p {
    margin-bottom: 10px;
    font-size: $octavo-tamanio;
  }

  /* Index - Párrafos */
  
  .parrafo-index {
    flex-direction: column;
  }

  .parrafo-index .texto-izquierdo {
    width: 100%;
    text-align: center;
    font-size: $sexto-tamanio;
  }

  .parrafo-index .texto-derecho {
    width: 100%;
    text-align: center;
    font-size: $octavo-tamanio;
  }

  /* Index - Galeria */

  .galeria-index {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 40px;
    background-color: $cuarto-color;
    max-width: 100%;
    margin: 0 auto;
  }

  /* Footer */
  
  .container-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
  }

  .container-footer .footer-parte1, .footer-parte2 {
    width: 100%;
  }

  .container-footer .footer-parte1 {
    margin: 10px;
    padding: 0 30px;
  }

  .container-footer .footer-parte1 h2 {
    font-size: $quinto-tamanio;
    margin-bottom: 15px;
  }

  .container-footer .footer-parte1 .boton {
    font-size: $octavo-tamanio;
    padding: 10px 25px;
    border-radius: 8px;
  }

  .container-footer .footer-parte2 {
    width: 100%;
    margin: 15px;
    padding: 0 30px;
  }

  .container-footer .footer-parte2 p {
    font-size: $sexto-tamanio;
    margin-bottom: 15px;
  }

  .container-footer .footer-parte2 .contacto-footer p {
    font-size: $octavo-tamanio;
  }

  /* Servicios */

  .section-servicios h1 {
    font-size: $sexto-tamanio;
  }
  
  .servicio {
    img {
      height: 200px;
    }
    h2 {
      font-size: $septimo-tamanio;
      margin-top: 10px;
    }
    p {
      font-size: $octavo-tamanio;
      margin: 5px 0;
    }
    .boton {
      font-size: $octavo-tamanio;
      font-weight: normal;
    }
  }

  /* Nosotros */

  .grupo-trabajo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .imagen-grupo {
        margin-right: 0px;
    }
    .imagen-grupo img {
        margin: 10px 0;
    }
    .texto-grupo {
      text-align: center;
        h2 {
            font-size: $quinto-tamanio;
            margin-bottom: 10px;
        }
        p {
            font-size: $octavo-tamanio;
        }
    }
  }
  
  .contenido-nosotros {
    display: flex;
    flex-direction: column;
    padding: 0;
    .titulo-nosotros {
        font-size: $sexto-tamanio;
        margin-top: 0;
        margin-bottom: 0;
    }
    .bloque {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        .texto-izquierda {
            text-align: center;
            padding: 5px;
            h3 {
                font-size: $septimo-tamanio;
                color: $primer-color;
                margin-bottom: 5px;
            }
            p {
                font-size: $octavo-tamanio;
                margin-bottom: 5px;
            }
        }
        img {
            width: 90%;
        }
    }
  }

  /* Clientes */

  .clientes {
    h1 {
      font-size: $sexto-tamanio;
    }
    p {
      font-size: $octavo-tamanio;
      padding: 0 15px;
    }
    .galeria-clientes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      padding-left: 15px;
      .fila-clientes {
        display: contents;
      }
      .fila-clientes img {
        width: 100%; 
        margin: 0; 
        object-fit: cover; 
        height: 100px;
      }
    }
  }

  /* Contacto */

  .container {
    .contacto {
      h1 {
        font-size: $sexto-tamanio;
      }
      p {
        padding: 0 5px 10px 5px;
      }
      .row {
        .col-md-8 {
          .formulario-contacto {
            .mb-3 {
              .form-label {
                font-size: $octavo-tamanio;
              }
              .form-label i {
                font-size: $octavo-tamanio;
              }
              input, textarea {
                font-size: $octavo-tamanio;
              }
            }
          }
        }
      }
    }
  }
}

/* 2. Smartphone Grande */

@include media("smartphone-grande") {
  /* Header */

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    width: 25px;
    height: 25px;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-item {
      font-size: $septimo-tamanio;
    }
  }

  .redes-sociales {
    display: flex;
    justify-content: center;
    a {
      .fab {
        width: 13px;
        height: 13px;
      }
      .fa-instagram {
        padding-right: 17px;
      }
    }
  }

  /* Index - Portada*/
  .portada {
    margin-top: 50px;
  }
  .portada .texto-portada {
    left: 5%;
    max-width: 90%;
  }
  .portada .texto-portada .titulo-portada {
    font-size: $tercer-tamanio;
    margin-bottom: 10px;
    letter-spacing: -.7px;
  }
  .portada .texto-portada p {
    font-size: $sexto-tamanio;
    max-width: 90%;
    margin-bottom: 10px;
  }
  .portada .boton2 {
    padding: 9px 9px;
    color: white;
    font-size: $septimo-tamanio;
  }

  /* Index - Section Rectángulos */

  .seccion-tres-rectangulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
  }
  .seccion-tres-rectangulos .rectangulo {
    width: 90%;
    margin-bottom: 15px;
    padding: 30px;
  }
  .seccion-tres-rectangulos .rectangulo.rectangulo h3 {
    font-size: $sexto-tamanio;
    font-weight: bold;
    margin-top: 15px;
  }
  .seccion-tres-rectangulos .rectangulo.rectangulo p {
    margin-bottom: 15px;
    font-size: $septimo-tamanio;
  }

  /* Index - Section párrafos */
  .parrafo-index {
    flex-direction: column;
  }

  .parrafo-index .texto-izquierdo {
    width: 100%;
    text-align: center;
    font-size: $cuarto-tamanio;
  }

  .parrafo-index .texto-derecho {
    width: 100%;
    text-align: center;
    font-size: $septimo-tamanio;
  }

  /* Footer */

  .container-footer {
    flex-direction: column;
    text-align: center;
    padding: 10px 10px;
  }

  .container-footer .footer-parte1, .footer-parte2 {
    width: 100%;
  }

  .container-footer .footer-parte1 {
    margin: 10px;
    padding: 0 30px;
  }

  .container-footer .footer-parte1 h2 {
    font-size: $tercer-tamanio;
  }

  .container-footer .footer-parte2 {
    width: 100%;
    margin: 15px;
    padding: 0 30px;
  }

  .container-footer .footer-parte2 p {
    font-size: $sexto-tamanio;
    margin-bottom: 7px;
  }

  .container-footer .footer-parte2 .contacto-footer p {
    font-size: $septimo-tamanio;
  }

  /* Servicios */

  .section-servicios {
    margin-top: 2rem;
  }

  .section-servicios h1 {
    font-size: $quinto-tamanio;
  }
  
  .servicio {
    img {
        height: 250px;
    }
    h2 {
        font-size: $sexto-tamanio;
        margin-top: 5px;
        margin-bottom: 0;
    }
    p {
        font-size: $septimo-tamanio;
    }
    .boton {
      font-size: $octavo-tamanio;
      font-weight: normal;
    }
  }

  /* Nosotros */

  .grupo-trabajo {
    display: flex;
    flex-direction: column;
    padding: 15px;
    .imagen-grupo {
        margin-right: 0px;
    }
    .imagen-grupo img {
        margin: 15px 0;
    }
    .texto-grupo {
      text-align: center;
        h2 {
            font-size: $tercer-tamanio;
            margin-bottom: 10px;
        }
        p {
            font-size: $sexto-tamanio;
        }
    }
  }
  
  .contenido-nosotros {
    display: flex;
    flex-direction: column;
    padding: 0;
    .titulo-nosotros {
        font-size: $quinto-tamanio;
        margin-top: 0;
        margin-bottom: 0;
    }
    .bloque {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        .texto-izquierda {
            text-align: center;
            padding: 5px;
            h3 {
                font-size: $sexto-tamanio;
                color: $primer-color;
                margin-bottom: 5px;
            }
            p {
                font-size: $septimo-tamanio;
                margin-bottom: 5px;
            }
        }
        img {
            width: 90%;
        }
    }
  }

  /* Clientes */
  .clientes {
    h1 {
      font-size: $quinto-tamanio;
    }
    p {
      font-size: $octavo-tamanio;
      padding: 0 15px;
    }
    .galeria-clientes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      padding-left: 40px;
      .fila-clientes {
        display: contents;
      }
      .fila-clientes img {
        width: 100%; 
        margin: 0; 
        object-fit: cover; 
        height: 150px;
      }
    }
  }

  .container {
    .contacto {
      h1 {
        font-size: $quinto-tamanio;
      }
      p {
        font-size: $septimo-tamanio;
        padding: 0 5px 10px 5px;
      }
      .row {
        .col-md-8 {
          .formulario-contacto {
            .mb-3 {
              .form-label {
                font-size: $septimo-tamanio;
              }
              .form-label i {
                font-size: $septimo-tamanio;
              }
              input, textarea {
                font-size: $septimo-tamanio;
              }
            }
          }
        }
      }
    }
  }
}

/* 3. Tablet */

@include media("tablet") {
  /* Header */

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-item {
      font-size: $sexto-tamanio;
    }
  }

  .redes-sociales {
    display: flex;
    justify-content: center;
    a {
      .fab {
        width: 30px;
        height: 30px;
      }
      .fa-instagram {
        padding-right: 17px;
      }
    }
  }

  /* Index - Portada*/
  .portada {
    margin-top: 20px;
  }
  .portada .texto-portada {
    left: 5%;
    max-width: 90%;
  }
  .portada .texto-portada .titulo-portada {
    font-size: $segundo-tamanio;
    margin-bottom: 15px;
    letter-spacing: -.7px;
  }
  .portada .texto-portada p {
    font-size: $quinto-tamanio;
    max-width: 90%;
    margin-bottom: 15px;
  }
  .portada .boton2 {
    padding: 10px;
    font-size: $septimo-tamanio;
  }

  /* Index - Section Rectángulos */

  .seccion-tres-rectangulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin-top: 10px;
    text-align: center;
  }
  .seccion-tres-rectangulos .rectangulo {
    width: 90%;
    margin-bottom: 25px;
    padding: 30px;
  }
  .seccion-tres-rectangulos .rectangulo.rectangulo h3 {
    font-size: $cuarto-tamanio;
    font-weight: bold;
    margin-top: 15px;
  }
  .seccion-tres-rectangulos .rectangulo.rectangulo p {
    margin-bottom: 15px;
    font-size: $quinto-tamanio;
  }

  .seccion-tres-rectangulos .rectangulo.rectangulo .boton {
    font-size: $septimo-tamanio;
    padding: 20px 40px;
    border-radius: 8px;
  }

  /* Index - Section párrafos */
  .parrafo-index {
    flex-direction: column;
  }

  .parrafo-index .texto-izquierdo {
    width: 100%;
    text-align: center;
    font-size: $tercer-tamanio;
  }

  .parrafo-index .texto-derecho {
    width: 100%;
    text-align: center;
    font-size: $sexto-tamanio;
  }

  /* Index - Galeria */
  .galeria-index {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5px;
    padding: 10px;
  }
  
  .galeria-index img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }

  /* Footer */

  .container-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 30px;
  }

  .container-footer .footer-parte1, .footer-parte2 {
    width: 100%;
  }

  .container-footer .footer-parte1 {
    margin: 10px;
    padding: 0 30px;
  }

  .container-footer .footer-parte1 h2 {
    font-size: $segundo-tamanio;
    margin-bottom: 20px;
  }

  .container-footer .footer-parte1 .boton {
    font-size: $sexto-tamanio;
    padding: 15px 30px;
    border-radius: 8px;
  }

  .container-footer .footer-parte2 {
    width: 100%;
    margin: 15px;
    padding: 0 30px;
  }

  .container-footer .footer-parte2 p {
    font-size: $cuarto-tamanio;
    margin-bottom: 15px;
  }

  .container-footer .footer-parte2 .contacto-footer p {
    font-size: $sexto-tamanio;
  }

  /* Servicios */
  .section-servicios {
    margin-top: 2rem;
  }

  .section-servicios h1 {
    font-size: $tercer-tamanio;
  }
  
  .servicio {
    padding: 0;
    img {
        height: 250px;
    }
    h2 {
        font-size: $quinto-tamanio;
        margin-top: 0;
        margin-bottom: 0;
    }
    p {
        font-size: $sexto-tamanio;
    }
    .boton {
      font-size: $octavo-tamanio;
      font-weight: normal;
    }
  }

  /* Clientes */
  .clientes {
    h1 {
      font-size: 2.1rem;
    }
    p {
      font-size: 1.3rem;
      padding: 0 15px;
    }
    .galeria-clientes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5px;
      padding-left: 60px;
      .fila-clientes {
        display: contents;
      }
      .fila-clientes img {
        width: 100%; 
        margin: 0; 
        object-fit: cover; 
        height: 150px;
      }
    }
  }

  /* Contacto */
  .container {
    .contacto {
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.5rem;
        padding: 0 5px 10px 5px;
      }
      .row {
        .col-md-8 {
          .formulario-contacto {
            .mb-3 {
              .form-label {
                font-size: 1.4rem;
              }
              .form-label i {
                font-size: 1.3rem;
              }
              input, textarea {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }
} 