/* ===================================================================== */
/* html SERVICIOS*/
/* ===================================================================== */

.section-servicios {
    padding: 60px 0;
    h1 {
        font-size: $cuarto-tamanio;
        text-align: center;
        color: $quinto-color;
        font-weight: bold;
    }
}
  
.servicio {
    background-color: $cuarto-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    height: 100%;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    h2 {
        font-size: $sexto-tamanio;
        color: $segundo-color;
        margin-top: 15px;
        font-weight: bold;
    }
    p {
        margin: 15px 0;
        color: $quinto-color;
    }
}