/* Header */
header {
  .redes-sociales {
    a {
      color: $primer-color;
      font-size: 24px;
      margin-right: 15px;
      transition: color 0.3s ease;

      &:hover {
        color: $segundo-color;
      }
  
      &:last-child {
        margin-right: 0;
      }
    }
  }  
}

/* Portada */
.texto-portada {
  .boton-portada {
    transition: color 0.3s ease;
    &:hover {
      background-color: $segundo-color;
      color: $tercer-color;
    }
  }
}

/* Rectángulos */
.seccion-tres-rectangulos {
  .rectangulo {
    transition: transform 0.3s ease;
  }
  .rectangulo:hover {
    transform: scale(1.05);
  }
}

/* Botón */
.boton {
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $sexto-color;
  }
}

.formulario-contacto .btn {
  &:hover {
    background-color: $segundo-color;
  }
}

/* Galeria */
.galeria-index img {
  transition: transform 0.3s ease;
}
.galeria-index img:hover {
  transform: scale(1.05);
}

/* SERVICIOS */
.servicio {
  transition: all 0.3s ease;
}

.servicio:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
