/* ===================================================================== */
/* ANIMACIONES*/
/* ===================================================================== */

/* Animaciones - html Index */
header {
  .redes-sociales {
    a {
      transition: color 0.3s ease;

      &:hover {
        color: $segundo-color;
      }
  
      &:last-child {
        margin-right: 0;
      }
    }
  }  
}

.texto-portada {
  .boton2 {
    transition: color 0.3s ease;
    &:hover {
      background-color: $segundo-color;
      color: $tercer-color;
    }
  }
}

.seccion-tres-rectangulos {
  .rectangulo {
    transition: transform 0.3s ease;
  }
  .rectangulo:hover {
    transform: scale(1.05);
  }
}

.galeria-index img {
  transition: transform 0.3s ease;
}
.galeria-index img:hover {
  transform: scale(1.05);
}

/* Animaciones - Botones */
.boton {
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $sexto-color;
  }
}

.boton3 {
  &:hover {
    background-color: $segundo-color;
  }
}

/* Animaciones - html Servicios */
.servicio {
  transition: all 0.3s ease;
}

.servicio:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

/* Animaciones - html Clientes */
.fila-clientes img:hover {
  transform: scale(1.1);
}