/* ===================================================================== */
/* BOTONES*/
/* ===================================================================== */

.boton {
  @include boton($border-r: 5px);
}

.boton2 {
  @include boton(
    $background: $octavo-color, 
    $border-r: 5px, 
    $border: 2px solid $segundo-color, 
    $font-weight: bold
    );
}

.boton3 {
  @include boton(
    $color: $quinto-color,
    $background: $octavo-color,
    $border: 2px solid $segundo-color
  );
}